aws_region          = "us-east-1"
aws_profile         = "your-aws-profile"
app_name            = "my-open-webui-app"
app_description     = "Open Web-UI application"
environment_name    = "my-app-env"
solution_stack_name = "64bit Amazon Linux 2023 v4.13.2 running Docker"
instance_type       = "c6gd.medium"
instance_profile    = "aws-elasticbeanstalk-ec2-role"
root_volume_size    = "40"
min_instances       = "1"
max_instances       = "1"
ssl_certificate_arn = "arn:aws:acm:REGION:ACCOUNT_ID:certificate/CERTIFICATE_ID"
hosted_zone_name    = "example.com."
subdomain           = "open-webui"
