container_commands:
  01_stop_existing_container:
    command: "docker stop $(docker ps -aq) || true"
    ignoreErrors: true
  02_remove_existing_container:
    command: "docker rm $(docker ps -aq) || true"
    ignoreErrors: true
  03_remove_volume:
    command: "docker volume rm open-webui || true"
    ignoreErrors: true
  04_prune_volumes:
    command: "docker volume prune -f || true"
    ignoreErrors: true
