option_settings:
  aws:elasticbeanstalk:application:environment:
    WEBUI_URL: "https://open-webui.ejacquot.com"
    OPENAI_API_BASE_URLS: "http://172.17.0.1:8000/api/v1"
    OPENAI_API_KEYS: "bedrock-access-key"
    ENABLE_OLLAMA_API: "false"
    ENABLE_SIGNUP: "true"
    ENABLE_SIGNUP_PASSWORD_CONFIRMATION: "false"
    ENABLE_PASSWORD_AUTH: "false"
    DEFAULT_LOCALE: "en"
    DEFAULT_MODELS: ""
    DEFAULT_PINNED_MODELS: ""
    DEFAULT_USER_ROLE: "pending"
    DEFAULT_GROUP_ID: ""
    PENDING_USER_OVERLAY_TITLE: "Etienne Jacquot's Open-WebUI Server"
    PENDING_USER_OVERLAY_CONTENT: "Your account is currently pending approval -- You will receive an email notification once your account has been reviewed and activated."
    ENABLE_CHANNELS: "false"
    ENABLE_FOLDERS: "true"
    FOLDER_MAX_FILE_COUNT: "100"
    ENABLE_NOTES: "true"
    ENABLE_MEMORIES: "true"
    WEBHOOK_URL: ""
    ENABLE_ADMIN_EXPORT: "true"
    ENABLE_ADMIN_CHAT_ACCESS: "true"
    ENABLE_ADMIN_WORKSPACE_CONTENT_ACCESS: "true"
    BYPASS_ADMIN_ACCESS_CONTROL: "true"
    ENABLE_USER_WEBHOOKS: "true"
    RESPONSE_WATERMARK: ""
    THREAD_POOL_SIZE: "0"
    ENABLE_CUSTOM_MODEL_FALLBACKS: "false"
    SHOW_ADMIN_DETAILS: "true"
    ENABLE_PUBLIC_ACTIVE_USERS_COUNT: "true"
    ENABLE_USER_STATUS: "true"
    ADMIN_EMAIL: "jacquot.etienne@gmail.com"
    ENV: "prod"
    ENABLE_PERSISTENT_CONFIG: "false"
    WEBUI_NAME: "Etienne's Open-WebUI"
    PORT: "8080"
    #ENABLE_REALTIME_CHAT_SAVE: "false"
    #ENABLE_CHAT_RESPONSE_BASE64_IMAGE_URL_CONVERSION: "false"
    #CHAT_RESPONSE_STREAM_DELTA_CHUNK_SIZE: "1"
    #CHAT_STREAM_RESPONSE_CHUNK_MAX_BUFFER_SIZE: "10"
    #BYPASS_MODEL_ACCESS_CONTROL: "false"
    WEBUI_BUILD_HASH: "dev-build"
    USE_CUDA_DOCKER: "false"
    DOCKER: "true"
    USE_CUDA: "false"
    DEVICE_TYPE: "cpu"
    EXTERNAL_PWA_MANIFEST_URL: ""
    ENABLE_TITLE_GENERATION: "false"
    LICENSE_KEY: ""
    SSL_ASSERT_FINGERPRINT: ""
    ENABLE_COMPRESSION_MIDDLEWARE: "true"
    WEBUI_ADMIN_USERNAME: "atnjqt"
    WEBUI_ADMIN_EMAIL: "jacquot.etienne@gmail.com"
    ENABLE_API_KEYS: "true"
    ENABLE_IMAGE_GENERATION: "true"
    IMAGES_OPENAI_API_BASE_URL: "https://api.openai.com/v1/images/generations"
    IMAGES_OPENAI_API_KEY: "sk-proj-YOUR_KEY_HERE"
    IMAGE_GENERATION_ENGINE: "openai"
    IMAGE_GENERATION_MODEL: "dall-e-3"
    IMAGE_SIZE: "1024x1024"
    IMAGE_STEPS: "1"
    WEBUI_AUTH: "true"
    ENABLE_OAUTH_SIGNUP: "true"
    ENABLE_LOGIN_FORM: "false"
    ENABLE_OAUTH_PERSISTENT_CONFIG: "false"
    GITHUB_CLIENT_ID: "..."
    GITHUB_CLIENT_SECRET: "..."
    GITHUB_CLIENT_SCOPE: "user:email"
    GITHUB_CLIENT_REDIRECT_URI: "https://open-webui.ejacquot.com/oauth/github/callback"
    GOOGLE_CLIENT_ID: "..."
    GOOGLE_CLIENT_SECRET: "..."
    GOOGLE_REDIRECT_URI: "https://open-webui.ejacquot.com/oauth/google/callback"
    OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
    OPENAI_API_KEY: "sk-proj-YOUR_KEY_HERE"
    SAFE_MODE: "false"
    WEBUI_SECRET_KEY: "GENERATE_WITH_openssl_rand_hex_24"
    CORS_ALLOW_ORIGIN: "https://open-webui.ejacquot.com"
